apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: env-destroy-template
  namespace: argo
spec:
  entrypoint: delete-namespace
  serviceAccountName: argo-env-admin
  arguments:
    parameters:
      - name: env_name
  templates:
    - name: delete-namespace
      container:
        image: bitnami/kubectl@sha256:e0fcb25c485a8ad0665d0dd4b4a67cefb6baee32b0e3b19f54f1b468c49c1ed5
        command: [sh, -c]
        args:
          - |
            kubectl delete namespace {{workflow.parameters.env_name}} --ignore-not-found
