apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: env-ttl-cleanup-template
  namespace: argo
spec:
  entrypoint: cleanup
  serviceAccountName: argo-env-admin
  arguments:
    parameters:
      - name: env_name
      - name: expires_at
      - name: ttl_duration
  templates:
    - name: cleanup
      steps:
        - - name: wait-until-expired
            template: wait-until-expired
        - - name: delete-expired-namespace
            template: delete-expired-namespace
    - name: wait-until-expired
      suspend:
        duration: "{{workflow.parameters.ttl_duration}}"
    - name: delete-expired-namespace
      container:
        image: bitnami/kubectl@sha256:e0fcb25c485a8ad0665d0dd4b4a67cefb6baee32b0e3b19f54f1b468c49c1ed5
        command: [sh, -c]
        args:
          - |
            set -e
            echo "TTL expired at {{workflow.parameters.expires_at}}; deleting {{workflow.parameters.env_name}}"
            kubectl delete namespace {{workflow.parameters.env_name}} --ignore-not-found
