apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: control-plane-argo
  namespace: argo
rules:
  - apiGroups: ["argoproj.io"]
    resources: ["workflows"]
    verbs: ["create", "get", "list"]