apiVersion: apps/v1
kind: Deployment
metadata:
  name: control-plane
  namespace: control-plane
spec:
  replicas: 1
  selector:
    matchLabels:
      app: control-plane
  template:
    metadata:
      labels:
        app: control-plane
    spec:
      serviceAccountName: control-plane
      containers:
        - name: control-plane
          image: control-plane:phase7
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080